.circle {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  position: relative;
  top: 92px;
  left: -58px;
}

.small-circle1 {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  position: absolute;
  top: 6rem;
  right: 12rem;
  background-color: rgb(56, 56, 167);
}

.semi-circle {
  height: 220px;
  width: 110px;
  border-radius: 125px 0 0 125px;
  position: absolute;
  top: 20rem;
  right: 0;
}

.content {
  background: var(--color-bg-variant);
  text-align: center;
  width: 90%;
  margin: 0 auto;
}

.orange {
  color: rgb(182, 4, 182);
}

/* form style */
.content-container form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  align-items: center;
  margin: 0.5rem auto;
}

.btn {
  width: 65%;
  background: linear-gradient(50deg, rgb(64, 28, 150), #ff00f3);
}

input,
textarea {
  width: 65%;
  border-radius: 0.5rem;
  padding: 0.7rem;
  background: transparent;
  border: 1px solid #fff;
  resize: none;
  color: var(--color-white);
  margin-bottom: 0.5rem;
}

.top1 {
  color: yellow;
  font-size: 1.2rem;
  position: absolute;
  top: 10rem;
  left: 13rem;
}

.top2 {
  color: yellow;
  font-size: 1.2rem;
  position: absolute;
  top: 15rem;
  right: 7rem;
}

.stars {
  display: flex;
  gap: 5rem;
}

.star1 {
  color: yellow;
  font-size: 1.2rem;
  position: absolute;
  top: 32rem;
  right: 10rem;
}

.star2 {
  color: yellow;
  font-size: 1.2rem;
  position: relative;
  top: -1.5rem;
  left: -21rem;
}

/* media queries tab */
@media screen and (min-width: 1024px) {
  .container.content-container {
    width: 70%;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    margin: 3rem auto 3rem auto;
  }

  .content h1 {
    margin: 0.5rem;
    font-size: 2.9rem;
  }

  .content p {
    font-size: 1.3rem;
  }
}

/* media queries mobile phones */
@media screen and (max-width: 425px) {
  .circle,
  .small-circle1,
  .semi-circle {
    display: none;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .content h1 {
    margin: 0.2rem;
    font-size: 1.6rem;
  }

  .content p {
    margin: 1.5rem 0;
  }
}
