.circle1 {
  width: 10rem;
  height: 40rem;
  position: absolute;
  left: 1%;
}

/* .circle2 {
  width: 10rem;
  height: 50rem;
  position: absolute;
  right: 1%;
  margin-top: 20rem;
} */

.content {
  background: var(--color-bg-variant);
  text-align: center;
  width: 90%;
  margin: 0 auto;
}

.contact_option-icon {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.content h1 {
  margin: 0.4rem;
}

/* form style */
form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  align-items: center;
  margin: 1.3rem 0;
}

input,
textarea {
  width: 65%;
  border-radius: 0.5rem;
  padding: 0.7rem;
  background: transparent;
  border: 1px solid #fff;
  resize: none;
  color: var(--color-white);
}

form .btn {
  width: 65%;
  background-color: #461230;
}

/* media queries tab */
@media screen and (max-width: 1024px) {
  .container.contact_container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}

/* media queries mobile phones */
@media screen and (max-width: 600px) {
  .contact_container {
    width: var(--container-width-sm);
  }
}
