.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  height: 42px;
  width: 159px;
  border-radius: 50px;
}

.outer button {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  outline: none;
  border: none;
  background: var(--color-bg-variant);
  color: #fff;
}

.button button {
  height: 39px;
  width: 156px;
  border-radius: 50px;
}

.outer {
  background: linear-gradient(90deg, #401c96, #ff00f3);
  animation: rotate 4s linear infinite;
}

@keyframes rotate {
  0% {
    filter: hue-rotate(0deg);
  }

  100% {
    filter: hue-rotate(360deg);
  }
}

.contact-container {
  display: grid;
  grid-template-columns: 50% 40%;
  gap: 5%;
  margin: 0 auto;
  align-items: center;
}

.contact-container input,
textarea {
  width: 100%;
  margin: 0.3rem 0;
}

.contact-form select {
  width: 100%;
  border-radius: 0.5rem;
  padding: 0.7rem;
  background: transparent;
  border: 1px solid #fff;
  resize: none;
}

.contact-form {
  margin-top: 2.5rem;
}

.contact-form .btn {
  width: 100%;
}

.star {
  color: yellow;
  font-size: 2rem;
  margin-left: 13rem;
}

.small-circle {
  color: rgb(56, 56, 167);
  font-size: 4rem;
}

.wave {
  font-size: 3rem;
  text-align: center;
}

.big {
  font-size: 14px;
  margin-left: 10rem;
}

.contact-options p {
  font-size: 0.8rem;
}

.love {
  font-size: 15px;
  color: rgb(56, 56, 167);
}

.close {
  font-size: 1.2rem;
  color: grey;
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: var(--color-bg-variant);
}

.popup {
  width: 400px;
  background: #fff;
  border-radius: 6px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 0 30px 30px;
  color: #333;
  transition: transform 0.4s, top 0.4s;
}

.check {
  color: green;
  font-size: 4rem;
  box-shadow: 0 2px 5px rgb(0, 0, 0, 0.2);
}

.popup h2 {
  font-size: 38px;
  font-weight: 500;
  margin: 30px 0 10px;
}

.popup button {
  width: 100%;
  margin-top: 50px;
  padding: 10px 0;
  background: #42b818;
  color: #fff;
  border: 0;
  outline: none;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 5px 5px rgb(0, 0, 0, 0.2);
}

/* media queries tab */
@media screen and (max-width: 1024px) {
  .contact-options p {
    font-size: 0.9rem;
  }

  .contact-form form {
    gap: 1rem;
  }
}

/* media queries mobile phones */
@media screen and (max-width: 600px) {
  .contact-container {
    display: grid;
    grid-template-columns: 1fr;
  }
}
