header {
  padding-top: 2rem;
}

.header-container {
  display: flex;
  justify-content: space-between;
  margin: 1.2rem auto;
  align-items: center;
}

.contact-container {
  display: grid;
  grid-template-columns: 30% 58%;
  gap:5%;
  margin: 1.2rem auto;
  align-items: center;
}

.love {
    font-size: 15px;
  }

/* media queries tab */
@media screen and (max-width: 1024px) {
  .header {
    height: 68vh;
  }
}

/* media queries mobile phones */
@media screen and (max-width: 600px) {
  .header {
    height: 100vh;
  }
} 
